{
    "presets": ["react-app"],
    "plugins": [
        [
            "react-intl",
            {
                "moduleSourceName": "./src/locale",
                "extractSourceLocation": true
            }
        ]
    ]
}
