/*

Table cell styling

*/

.course_info {
    font-size: .785em;
}

/*

Table styling

*/

.course_table {
    height: 75vh !important;
}

.course_table_header {
    max-height: 5vh !important;
    min-height: 5vh !important;
    min-width: 5vw !important;
    max-width: 10vw !important;
}

@keyframes course_table_cell_anim {

    from {
        background-color: transparent;
    }
    to {
        background-color: rgb(211, 249, 255);
    }

}

.course_table_cell:hover {
    animation-name: course_table_cell_anim;
    animation-timing-function: ease-in-out;
    animation-duration: .25s;
    animation-fill-mode: forwards;
}