

.table_header {
    min-width: 75vw;
    max-width: 75vw;
}

.table_header_cell {
    min-width: 16.666666666666668%;
    letter-spacing: .04em;
}

.table_row {
    min-width: 75vw;
    max-width: 75vw;
}

.table_row_cell {
    min-width: 16.666666666666668%;
    max-width: 16.666666666666668%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    font-size: 1.25em;
    font-family:fantasy;
}

.course_container {
    min-height: 60%;
    max-height: 60%;
    overflow-y: scroll;
    scrollbar-width: thin;
}

.course_container > div {
    min-height: 10%;
}