
.sidebar {
    min-height: 100vh;
    max-height: 100vh;
    min-width: 20vw;
    top: 0%;
    right: 100%;
}

.sidebar_toggle {
    top: 5%;
    min-width: 2vw;
    right: calc(-2vw);
}

.sidebar_activated {
    transition: right 1s ease-in-out;
    right: 80%;
}

.sidebar_closed {
    transition: right 1s ease-in-out;
    right: 100%;
}

.sidebar_item:hover {
    transition: background-color 1s ease-in-out;
    background-color: lightgray;
}