@keyframes sidebar_open_anim {
    from {
        right: 100;
        left: 0;
    }

    to {
        right: 0;
        left: 10vw;
    }
}

@keyframes sidebar_closed_anim {
    from {
        left: 10vw;
        right: 0;
    }

    to {
        right: 100;
        left: 0
    }
}
.sidebar_closed {
    position: absolute;
    top: 80px;
    animation-name: sidebar_closed_anim;
        animation-timing-function: ease-in-out;
        animation-duration: 3s;
        animation-fill-mode: forwards;
}

.sidebar_open {
    position: absolute;
    top: 80px;
    animation-name: sidebar_open_anim;
        animation-timing-function: ease-in-out;
        animation-duration: 3s;
        animation-fill-mode: forwards;
}

.sidebar_toggle {
    width: 20px;
    height: 30px;
    border-color: rgba(var(--bs-dark-rgb), .5) !important;
}

.sidebar_toggle_icon {
    position: relative;
    top: 3px;
    left: 5px;
}